.iphone {
    display: flex;
    align-items: center;
}

/* General Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    background-image: url(media/ChatGPT\ Image\ 29\ apr.\ 2025\ 19_43_06.png);

}

/* Header */
header {
    text-align: center;
    padding: 1px;
    background-color: #222;
    color: white;
}

/* Headings */
h1 {
    margin-bottom: 10px;
    font-size: 2.5rem;
}

header p {
    font-size: 1.2rem;
}

h2 {
    color: #222;
    margin: 10px;
}

/* Article Container */
article {
    width: 800px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
}

/* Content Text */
.content {
    font-size: 1.1rem;
    line-height: 1.8;
}

/* Footer */
footer {
    text-align: center;
    padding: 15px;
    background: #222;
    color: #fff;
    margin-top: 20px;
}
