#heading{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 30px;
    margin: auto;
    padding:0px;
        display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 0 50px;
    
}


#logo {
    height: 200px; /* Adjust size as needed */
    width: auto;
}

body{
    background-image: url(media/ChatGPT\ Image\ 29\ apr.\ 2025\ 19_43_06.png);
    margin: 0;
}




.Electronics{
   
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-image: url(media/ChatGPT\ Image\ 29\ apr.\ 2025\ 19_43_06.png);
    flex-wrap: wrap;
    align-items: flex-start;
    }

.div{
    width: 400px;
    height: 200px;
    background-color: rgb(4, 26, 26);
    border-radius: 5px;
    border: 2px solid black;
    
    }
 
#div1{
 background-image: url('media/iphone-16-wallpapers.png');
 background-size: 400px 200px;
 opacity: 1;
}

#div2{
    background-image: url('media/ipadpro.png');
    background-size: 400px 200px; 
    opacity: 1;
}

#div3{
    background-image: url('media/geforce-ada-40-series-gf-spotlight-600x338-p@2x.jpg');
    background-size: 400px 200px;
    opacity: 1;
}

#div4{
    background-image: url('media/Samsung-Galaxy-S25.png');
    background-size: 400px 200px;
    opacity: 1;
}

#div5{
    background-image: url(media/Google-Pixel-9-Pro_review_1.png);
    background-size: 400px 200px;
    opacity: 1;
}

#div6{
    background-image: url(media/Apple-WWDC23-Vision-Pro-glass-230605_big.jpg.large.jpg);
    background-size: 400px 200px;
    opacity: 1;
}

#div7{
    background-image: url(media/notebook-laptop-xps-16-9640-nt-gray-gallery-5.png);
    background-size: 400px 200px;
    opacity: 1;
}

#div8{
    background-image: url(media/202c5c981d723dfd3c9c4ac541988187.png);
    background-size: 400px 200px;
    opacity: 1;
}

#div9{
    background-image: url(media/360_F_686765112_zdgPaCobK3xbNGJ1AfBJLXzeSmcjrqfJ.png);
    background-size: 400px 200px;
    opacity: 1;
}

.click{
    background-color: grey;
    height: 60px;
    font-size: 20px;
    color:black;
    border-radius: 5px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-top: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}



  .navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: gray;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    gap: 20px; /* For space btw */
    padding-left: 20px;
    height: 60px; 
    border: solid black 3px;

}



.navbar a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 0 20px; /* Addhorizontal spacing bruhh */
    height: 60px;
    line-height: 60px; /* Vertically center tetx RAHHH*/
    display: block;
    font-size: 20px;
}

.navbar a:hover {
    background-color: rgb(54, 53, 53);
    color: white;
}

a{
    text-decoration: none;

}


.click:hover {
    color: white;
}

