body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #241b1b;
    color: #161b11;
    text-align: flex-start;
}

header {
    background-color: #1829db;
    color: rgb(15, 19, 18);
    padding: 20px;
}

main {
    width: 80%;
    margin: 20px auto;
    background: rgb(58, 104, 178);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #131312;
}

p, ul {
    font-size: 1.1em;
    line-height: 1.6;
}

.image-container {
    width: 500px;
    height: 300px;
    }

footer {
    text-align: center;
    padding: 15px;
    background: #222;
    color: #eee6e6;
    margin-top: 20px;
}
    

#div3 {
    background-image: url(6655f9e1f19747001dcae954.jpg);
    background-size: 500px 300px;
    opacity: 1;
    }
    
        