.parent {
display:grid; 
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: repeat(7, 1fr);
gap: 3px;
height: 300vh;
}   

#div1{
background-image: linear-gradient(blue, darkblue);
background-color: darkblue; 
color: white;
grid-column: 1/3;
grid-row: 1/2;
border: 3px Solid Black

}

#div2{  
background-color: darkcyan;
grid-column:1/1;  
grid-row: 2/5;
background-image: url(b424b9a0bc24171c059b6f7a9bf5e701.jpg);
border: 3px Solid Black
}

#div3{
background-color: black;
color: white;
grid-column: 3/5; 
grid-row: 1/2;
border: 3px solid black




}

#div4{
background-color: green;
grid-column: 2/5;
grid-row: 2/4;
border: 3px Solid Black
}

#div5{
background-color: cadetblue;
background-image: linear-gradient(#074799, #009990);
color: black;
grid-column: 1/5;
grid-row: 5/5;
border: 3px Solid Black
}

#div6{
background-color: skyblue ;
background-image: linear-gradient(#001A6E, #074799 ); 
grid-column: 2/5;
grid-row: 4/5;
border: 3px Solid Black
}

#div7{
background-color: orange;
grid-column: 1/5;
grid-row: 6/8;
border: 3px Solid Black
}

.div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 24px;
}



#video1{
  width: 100%;  
  height: 100%; 

}

#video2{
width: 100%;
height: 100%;
}

#gif1{
width: 100%;
height: 100%;
}
